.categories-container {
  padding: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories-container > .right {
  color: white;
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
}

.categories-container > .right > .right-icon {
  background-color: #1a1a1a;
  height: 22px;
  width: 22px;
  font-size: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.categories-card {
    display: flex;
     justify-content: space-between;
    padding: 0 5%;
}

