.header-container{
    display: flex;
    /* background-color: black; */
    height: 80px;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
}

.header-container > ul{ 
    
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    gap:20px;
}


.header-container > ul > li {
    cursor: pointer;
    font-size: 14px;
}


.header-container > .notifi{
    gap: 20px;
}



